html, body{
    scroll-behavior: smooth;
    font-family: 'Questrial', sans-serif;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}




/*Navbar basic elements*/



.navbar {
    background-color: aquamarine;
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: baseline;
    z-index: 99999;
    font-size: 150%;
}



.navbar > .links > div {
    margin-inline: 10px;
    display: flex;

}

.container-about{
    background-color: bisque;
}


.links{
    display: flex;
    justify-content: space-between;
}



/* About Content styles */

.content-wrapper-about{
    display: flex;
    margin-inline: 50px;
    justify-content: space-around;
    padding: 30px;
    column-count: 3;
    align-items: center;
}

.profile-wrapper{
    column-span: 1;
}


.information-wrapper{
    justify-content: center;
    text-align: center;
}

.tiles-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.tile img{
    width: 400px;
    height: 325px;
}

.tile{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tile-text-wrapper{
    position: relative;
}

.text{
    position: absolute;
    font-weight: 600;
    width: 100%;
    top:40%;
    left:0;
    opacity: 0;
}

.tile:hover img{
    opacity:.3;
    transition: .5s ease;
}

.tile:hover .text{
    opacity:1;
    font-weight: 600;
    font-size: 175%;
    transition: .5s ease;
}

.summary-wrapper{
    display: flex;
    font-size: 150%;
    justify-content: center;
    text-align: center;
    width: 40%;
}

/* .wingone img{
    width:200px;
} */

body{
    margin: 0px;
}

/*Home Page*/

.container-home, .content-wrapper-home{
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
}
    
.landscapebg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cloudsbg{
    position:absolute;
    opacity:.5;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation: cloudanimate 60s linear infinite;
}

.fullname {
    position: absolute;
    font-size: 300%;
    color: white;
    top: 50px;
    left: 100px;
    /* -webkit-text-stroke: .5px black; */
}

@keyframes cloudanimate {
    0%{background-position: 0px;}
    100%{background-position: 5440px;}
}

.description {
    position: absolute;
    font-size: 100%;
    color: white;
    bottom: 150px;
    left: 100px;

}

.continue a{
    text-decoration: none;
    position:absolute;
    font-size: 250%;
    color: white;
    bottom: 30px;
    right:50px;
}

.continue a:hover {
    color:skyblue;
}
/*History section*/
.companies-wrapper{
    height: 100%;
    text-align: center;
}

.companies-wrapper h1{
    position: relative;
    top: 0;
    padding: 30px;
    font-size: 300%;
}

.companies-wrapper img{
    background-color: blanchedalmond;
    border-radius: 10px 50px 10px;
    border:solid black;
    transition: all .5s ease;
}


.companies-wrapper img:hover{
    transform: scale(1.4);
    filter:brightness(.1);
}

.companies-wrapper img:hover+.subtitle-wrapper{
    display: block;
}

.subtitle-wrapper{
    transition: .75s;
    font-weight: 500;
    display: none;
    pointer-events: none;
    position: absolute;
    top:10px;
    left: 75px;
    width: 75%;
}

.subtitle{
    color: white;
    font-weight: 500;
    font-size: 125%;
}

.neudesic-wrapper{
    position: relative;
}

.uci-wrapper{
    position: relative;
    right:200px;
}

.taecoding-wrapper{
    position: relative;
    left:300px;
}

.uci-wrapper img{
    width: 500px;
}

.taecoding-wrapper img{
    width: 600px;
}

.neudesic-wrapper img{
    width: 400px;
}
/*Resume section*/

.resume-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.resume-wrapper h1, img{
    padding: 15px;
}

/*socials section*/
.socials-wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-wrapper{
    display: inline-flex;
    margin-inline: 10px;
}

.icon-wrapper img{
    width: 100px;
}

.icon{
    display: flex;
    margin-inline: 5px;
    justify-content: space-between;

}

.icon:hover{
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;
}

/* .bounce:hover{
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;

} */


@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.3em; }
    70% { top: -0.5em; }
    100% { top: 0; }
}

/* Projects section */

#project-menu-anchor{
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-title-wrapper{
    text-align: center;
    position: relative;
    top: 0;
    color: white;
    font-size: xx-large;

}

.project-tiles-wrapper{
    display: flex;
    text-align: center;
    gap: 50px;
}

.project-tile{
    border-radius: 50px;
    background-color: beige;
    border:solid 10px black;
}

.project-tile img{
    width: 300px;
}