.body{
    font-family: "Lato", sans-serif;
}

/*Navbar basic elements*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-transform: uppercase;
    column-count: 3;
    align-items: baseline;
    
}

.navbar > .links > div {
    margin-inline: 10px;
    display: flex;

}

.h1 {
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: space-between;
}

.icon-wrapper{
    margin-inline: 10px;
    display: flex;
}

.icon-wrapper img{
    width: 40px;
}

.icon{
    display: flex;
    margin-inline: 5px;
    justify-content: space-between;

}

.icon:hover{
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;
}

/* .bounce:hover{
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;

} */


@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

/* Content styles */

.content-wrapper{
    display: flex;
    margin-inline: 50px;
    justify-content: space-around;
    padding: 30px;
    text-transform: uppercase;
    column-count: 3;
    align-items: center;
}

.profile-wrapper{
    column-span: 1;
}


.information-wrapper{
    justify-content: center;
    text-align: center;
}

.tiles-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.tile img{
    position: relative;
    width: 300px;
    height: 300px;
}

.tile{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tile-text-wrapper{
    position: relative;
}

.text{
    position: absolute;
    width: 100%;
    top:50%;
    left:0;
    

}

.tile:hover img{
    opacity:.3;
    transition: .5s ease;
}

.tile:hover text{
    opacity:1;
    transition: .5s ease
}